html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: skyblue;
  font-size: 24px;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 200px;
}

button {
  background-color: pink;
  border: none;
  padding: 8px 12px;
  border-radius: 24px;
}

button:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}

.rps-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 24px;
}

.rps-btn button {
  flex: 1;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
